article{
  display: flex;
  margin: auto;
  justify-content: center;
  padding-bottom: 20px;
}

.conteudo-jogos{
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  height: auto;  
}

.jogos{
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  width: auto;
  flex: 1;
  border: 1px solid rgb(32 33 36 / 28%);
  border-radius: 5px;
}

.oculto{
  display: none;
}





/* ========================================================================================
======================================================================================== */

article{
  display: flex;
  margin: auto;
  justify-content: center;
  padding-bottom: 250px;
}


/* ========================================================================================
======================================================================================== */

*{
  margin: 0px;
  padding: 0px;
  background-color: #1e1e1e;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

h1{
  text-align: center;
  color: #fff;
  margin: 20px;
  font-size: xxx-large;
}

h3{
  text-align: center;
  font-size: xx-large;
  color: #fff;
}

li {
  margin: 10px;
  list-style: none;
}

.Cromático{background-color: #f88f25;}
.Épico{background-color: #d850ff;}
.Caminho_dos_Troféus{background-color: #b9eaff;}
.Raro{background-color: #68fd58;}
.Mistico{background-color: #fe5e72;}
.Super_Raro{background-color: #5ab3ff;}



