.tudo{
    display: flex;
    justify-content: center;
    width: auto;
    height: 80px;
    border-bottom: solid 2px #fff;
}

.titulo{
    color: #fff;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 80px;
}

.links{
    display: flex;
    align-items: center;
}

ul{
    display: flex;

}

nav ul,
nav li{
    display: flex;
    list-style: none;
   
}

a{
    display: block;
    padding: 15px;
    font-size: 28px;
    font-weight: bolder;
    color: #fff;
}

nav ul{
    display: flex;
}

ul li a{
    display: flex;
    text-decoration: none;
    text-transform:uppercase;
    text-shadow: 2px 2px rgb(26, 26, 26);
}
